<h1>Lists</h1>

<table>
    <tr>
      <th>Name</th>
    </tr>
<tbody>
    <% @lists.each do |list| %>
      <tr>
        <td><%= list.name %></td>
      </tr>
    <% end %>

  <%= link_to 'Create a movie list', new_list_path %>

  </tbody>
</table>
